<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
	<directoryBrowse enabled="false" />
		<rewrite>
			<rules>
				<rule name="Main Rule" stopProcessing="true">
					<match url=".*" />
					<conditions logicalGrouping="MatchAll">
						<add input="{SCRIPT_FILENAME}" matchType="IsFile" negate="true" />
						<add input="{SCRIPT_FILENAME}" matchType="IsDirectory" negate="true" />
						<add input="{Document_Root}/php/{REQUEST_URI}" matchType="IsFile" negate="true" />
					</conditions>
					<action type="Rewrite" url="index.php" />
				</rule>
			</rules>
		</rewrite>
  </system.webServer>
</configuration>